POSTGRES_HOST=postgres-ci
POSTGRES_USER=test
POSTGRES_PASSWORD=test
POSTGRES_DB=test
POSTGRES_PORT=5432

COMPANIES_REDIS_HOST=redis-ci
COMPANIES_REDIS_PORT=6379
COMPANIES_REDIS_PASSWORD=your_super_secret_password

KAFKA_BOOTSTRAP_SERVERS=kafka-ci:9092
KAFKA_AUTH_EVENTS_TOPIC=test
KAFKA_COMPANY_EVENTS_TOPIC=test

INVITATION_LINK_ACCESS_MINUTES=1
