POSTGRES_HOST=postgres-ci
POSTGRES_USER=test
POSTGRES_PASSWORD=test
POSTGRES_DB=test
POSTGRES_PORT=5432

LOGS_POSTGRES_HOST=postgres-ci
LOGS_POSTGRES_USER=test
LOGS_POSTGRES_PASSWORD=test
LOGS_POSTGRES_DB=test
LOGS_POSTGRES_PORT=5432

JWT_KEY=YourSuperSecretLongAndComplexKeyAtLeast32Chars123!
JWT_ISSUER=test
JWT_AUDIENCE=test
JWT_ACCESS_MINUTES=1
JWT_REFRESH_DAYS=1

PASSWORD_HASHER_MEMORY_SIZE=1
PASSWORD_HASHER_ITERATIONS=1
PASSWORD_HASHER_DEGREE_OF_PARALLELISM=1
PASSWORD_HASHER_SALT_LENGTH=1
PASSWORD_HASHER_HASH_LENGTH=1

OTP_CODE_ACCESS_MINUTES=1

RESET_PASSWORD_TOKEN_ACCESS_MINUTES=1

INVITATION_LINK_ACCESS_MINUTES=1

REDIS_HOST=redis-ci
REDIS_PORT=6379
REDIS_PASSWORD=test

AUTH_REDIS_HOST=redis-ci
AUTH_REDIS_PORT=6379
AUTH_REDIS_PASSWORD=test

COMPANIES_REDIS_HOST=redis-ci
COMPANIES_REDIS_PORT=6379
COMPANIES_REDIS_PASSWORD=test


KAFKA_BOOTSTRAP_SERVERS=kafka-service:9092
KAFKA_AUTH_EVENTS_TOPIC=test-events
KAFKA_COMPANY_EVENTS_TOPIC=test-events
KAFKA_KONG_EVENTS_TOPIC=test-events

AUTH_SERVICE_URL=http://auth-service:8080
COMPANIES_SERVICE_URL=http://companies-service:8080
