POSTGRES_HOST=postgres
POSTGRES_USER=test
POSTGRES_PASSWORD=test
POSTGRES_DB=test
POSTGRES_PORT=5432

KAFKA_BOOTSTRAP_SERVERS=kafka-service:9092
KAFKA_AUTH_EVENTS_TOPIC=test
KAFKA_COMPANY_EVENTS_TOPIC=test
KAFKA_FILE_EVENTS_TOPIC=test

