POSTGRES_HOST=postgres
POSTGRES_USER=test
POSTGRES_PASSWORD=test
POSTGRES_DB=test
POSTGRES_PORT=5432

JWT_KEY=YourSuperSecretLongAndComplexKeyAtLeast32Chars123!
JWT_ISSUER=test
JWT_AUDIENCE=test
JWT_ACCESS_MINUTES=1
JWT_REFRESH_DAYS=1

PASSWORD_HASHER_MEMORY_SIZE=1
PASSWORD_HASHER_ITERATIONS=1
PASSWORD_HASHER_DEGREE_OF_PARALLELISM=1
PASSWORD_HASHER_SALT_LENGTH=1
PASSWORD_HASHER_HASH_LENGTH=1

OTP_CODE_ACCESS_MINUTES=1
RESET_PASSWORD_TOKEN_ACCESS_MINUTES=1

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=test

KAFKA_BOOTSTRAP_SERVERS=kafka-service:9092
KAFKA_AUTH_EVENTS_TOPIC=test
